:root {
  --primeira-cor: #fff;
  --segunda-cor: #020318;
  --terceira-cor: #920606;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  overflow-x: hidden;
  margin: 0;
  background-color: var(--segunda-cor);
}

.container {
  background-color: var(--segunda-cor);
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: var(--primeira-cor);
  height: 170px;
  width: 180px;
  border-radius: 15px;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  
}

nav ul {
  list-style-type: none;
}

nav ul li {
  margin: 10px 0;
  transform: translateX(-120%);
  transition: transform 0.4s ease-in;
}

nav ul li + li {
  margin-left: 10px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 15px;
  transform: translateX(-220%);
}

nav img {
  border-radius: 20px;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--terceira-cor);
  border-radius: 8px;
}

.search {
  background-color: transparent;
  border: 2px solid var(--segunda-cor);
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: var(--segunda-cor);
}

.search:focus {
  outline: none;
  background-color: var(--segunda-cor);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 250px;
  margin: 1rem;
  background-color: var(--terceira-cor);
  box-shadow: 5px 6px 8px var(--primeira-cor);
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.movie img {
  width: 100%;
  height: 300px;
}

.movie-info {
  color: var(--primeira-cor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--segunda-cor);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: rgb(61, 250, 3);
}

.movie-info span.orange {
  color: #fcfc06;
}

.movie-info span.red {
  color: rgb(253, 8, 8);
}

.overview {
  background-color: var(--primeira-cor);
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
  text-align: justify;
}

.movie:hover .overview {
  transform: translateY(0);
}

.header__img {
  display: flex;
  
}

.img2{
  width: 300px;
  height: 300px;
}

.header__img .img1 {
  display: flex;
  flex-direction: flex-end;
  margin-right: 200px;
  border-top-left-radius: 90px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 5px 6px 8px var(--primeira-cor);
}

.footer{
  margin: 10px 0px 10px 0px;
  text-align: center;
  color: var(--primeira-cor);
}

.footer div a{
  color: var(--primeira-cor);
}