:root{
  --primeira-cor: #020318;;
  --segunda-cor: #fff;  
  --terceira-cor: #a30505;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--segunda-cor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--segunda-cor);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  margin: 0;  
}

section {
  width: 700px;
  height: 550px;
  background-color: var(--primeira-cor);
  text-align: center;
  border-radius: 30px;
  border: 2px solid;
  padding: 10px 20px 0px 20px;
  margin-top: 50px;
}

.container {
  background-color: var(--primeira-cor);
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  text-align: -webkit-center;
  border-radius: 20px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: var(--segunda-cor);
  height: 170px;
  width: 180px;
  border-radius: 15px;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  
}

nav ul {
  list-style-type: none;
}

nav ul li {
  margin: 10px 0;
  transform: translateX(-120%);
  transition: transform 0.4s ease-in;
}

nav ul li + li {
  margin-left: 10px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 15px;
  transform: translateX(-220%);
}

nav img {
  border-radius: 20px;
}




section.movie-container select {
  background-color: var(--segunda-cor);
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 15px 5px 15px;
 
}

section.container__reserva {

  border: 5px solid var(--segunda-cor);
  width: 500px;
  border-radius: 10px;
}

.seat {
  background-color: #7b7b88;
  height: 15px;
  width: 20px;
  margin: 3px;
  border-radius: 10%;
  padding-bottom: 2px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat.selected {
  background-color: var(--terceira-cor)
}

.seat.occupied {
  background-color: var(--segunda-cor);
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  color: var(--segunda-cor);
  list-style: none;
  display: flex;
  justify-content: space-between;  
  margin: 5px;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
  font-size: 16px;
}

.screen {
  background-color: var(--segunda-cor);
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px var(--segunda-cor);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color:var(--terceira-cor);
  font-size: 16px;
}

.bronze,
.silver,
.gold {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

#btnreserva {
  padding: 10px 30px;
  margin: 10px 0;
  background-color: var(--primeira-cor);
  border-radius: 10px;
  border: 3px solid;
  color: var(--segunda-cor);
  font-weight: bold;
  left: 50%
}

#btnreserva:hover{   
  background-color: var(--segunda-cor);
  color: var(--primeira-cor);
}

