@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root{
  --cor-principal: #fff;
  --segunda-cor: #020318;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--segunda-cor);
  overflow-x: hidden;
  margin: 0;  
}

.container { 
  background-image: url('../img/fundo.jpg');
  background-repeat: no-repeat;
  transform-origin: top left; 
  background-size: cover;
  position: absolute;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
  border-radius: 30px
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: var(--cor-principal);
  height: 170px;
  width: 180px;
  border-radius: 15px;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0; 
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 10px;
  left: 0;
  z-index: 100;
  
}

nav ul {
  list-style-type: none;
}

nav ul li { 
  margin: 10px 0;
  transform: translateX(-120%);
  transition: transform 0.4s ease-in;  
  padding: 0px;
}

nav ul li + li {
  margin-left: 10px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 15px;
  transform: translateX(-220%);
}

nav img {
  border-radius: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.content img{
  border-top-left-radius: 90px;
  border-bottom-right-radius: 90px;
  padding: 50px;
  background-color: var(--cor-principal);
  width:"600px";
  height:"900px";  
}

footer {
  margin-bottom: 0;
}

.footer{
  margin: 10px 0px 10px 0px;
  text-align: center;
  color: var(--cor-principal);
}

.footer div a{
  color: var(--cor-principal);
}